.cardCriarConta{
    padding: 2rem;
    background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.titulo{
    color: white;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
}

.texto{
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;

}

.cardBotoes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}