.cardItemSelecionado{
    margin: 1.5em auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cardLivro{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.cardInfCompra{
    width: 100%;
}

.cardInformacoesLivro{
    width: 100%;
}

.titulo{
    width: 100%;
    color:#002F52;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
}

.tituloItem{
    padding-bottom: 0.5rem;
}

.descricao{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.autor{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.cardQuantidade{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardRemocao{
    text-align: right;
    margin-bottom: 2rem;
}

.botaoRemover{
    background: transparent;
    border: none;

    position: relative;
    display: inline-block;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .botaoRemover .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #002F52;
    color: #fff;
    text-align: center;
    padding: 7px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    top: 1.5rem;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .botaoRemover:hover .tooltiptext {
    visibility: visible;
  }

 

.cardPrecoQuantidade{
    display: flex;
    align-items: center;
    justify-content: right; 
    gap: 1rem;
}
