.cardInformacoes{
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 15%;
    width: 70%;
    margin-bottom: 2rem;
    text-align: center;
}

.botao{
    padding: 0 0.5rem;
    background-color: white;
    color: #002F52;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    border: none;
    border-bottom: 1px solid #EB9B00
}

.descricao{
    text-align: left;
}